body{
    background-color: rgb(213, 218, 223);
}
img{
    display:block;
    margin:auto;
}
button {
    display:block;
    margin:auto; 
}
* {
    box-sizing: border-box;
  }
h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}
h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
li{
    color: white;
    font-size: 15px;  
}
p{
    color: white;
    font-size: 20px; 
}
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
     height: 1500px; 
  }
  
  .left, .right {
    width: 15%;
  }
  
  .middle {
    width: 70%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .columnEqual{
    float: left;
    padding: 10px;
     height: 1100px; 
     width: 33.3%;
  }
  #smart {
      background-color: snow;
  }
  .score{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
  }